<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ConferenceManager</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>com.servlet.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addConfServlet</servlet-name>
    <servlet-class>com.servlet.addConfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addConfServlet</servlet-name>
    <url-pattern>/addConf</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>attendConfServlet</servlet-name>
    <servlet-class>com.servlet.attendConfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>attendConfServlet</servlet-name>
    <url-pattern>/attendConf</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cancleConfServlet</servlet-name>
    <servlet-class>com.servlet.cancleConfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancleConfServlet</servlet-name>
    <url-pattern>/cancleConf</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editConfServlet</servlet-name>
    <servlet-class>com.servlet.editConfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editConfServlet</servlet-name>
    <url-pattern>/editConf</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editUserBySelfServlet</servlet-name>
    <servlet-class>com.servlet.editUserBySelfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editUserBySelfServlet</servlet-name>
    <url-pattern>/editBySelf</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editUserServlet</servlet-name>
    <servlet-class>com.servlet.editUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editUserServlet</servlet-name>
    <url-pattern>/editUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchConfByAdminServlet</servlet-name>
    <servlet-class>com.servlet.SearchConfByAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchConfByAdminServlet</servlet-name>
    <url-pattern>/SearchConfByAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchConfByUserServlet</servlet-name>
    <servlet-class>com.servlet.SearchConfByUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchConfByUserServlet</servlet-name>
    <url-pattern>/SearchConfByUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchUserByAdminServlet</servlet-name>
    <servlet-class>com.servlet.SearchUserByAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUserByAdminServlet</servlet-name>
    <url-pattern>/SearchUserByAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConveyEditUserServlet</servlet-name>
    <servlet-class>com.servlet.ConveyEditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConveyEditUserServlet</servlet-name>
    <url-pattern>/ConveyEditUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConveyConfServlet</servlet-name>
    <servlet-class>com.servlet.ConveyConfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConveyConfServlet</servlet-name>
    <url-pattern>/ConveyConf</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchApplyServlet</servlet-name>
    <servlet-class>com.servlet.SearchApplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchApplyServlet</servlet-name>
    <url-pattern>/SearchApply</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecConfServlet</servlet-name>
    <servlet-class>com.servlet.RecConfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecConfServlet</servlet-name>
    <url-pattern>/RecConf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>用于生成验证码</description>
    <display-name>生成验证码</display-name>
    <servlet-name>GetCaptcha</servlet-name>
    <servlet-class>com.servlet.GetCaptcha</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCaptcha</servlet-name>
    <url-pattern>/getcaptcha.sl</url-pattern>
  </servlet-mapping>
</web-app>